<header class="site-header">

  <div class="wrapper">

    <div class="site-title" ><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a> </div>

        <div id="nav">
        <ul>
            <li><a href="/projects" class="{% if page.url contains 'projects' %}current{% endif %}">Projects</a></li>
            <li><a href="/tutorials" class="{% if page.url contains 'tutorials' %}current{% endif %}">Tutorials</a></li>
            <li><a href="/blog" class="{% if page.url contains 'blog' %}current{% endif %}">Blog</a></li>
            <li><a href="/cv" class="{% if page.url contains 'cv' %}current{% endif %}">CV</a></li>
            <li><a href="/about" class="{% if page.url contains 'about' %}current{% endif %}">About me</a></li>
            <li><a href="/phd_defense" class="{% if page.url contains 'phd_defense' %}current{% endif %}">PhD Defense</a></li>
        </ul>
    </div>

  </div>

</header>
